<h1>Gossip new</h1>
<form action="url_de_l'action" method="POST">
  Your anonymous names:<br>
  <input type="text" name="nom_du_champ"><br><br>
  Your fake news:<br>
  <textarea name="name" rows="5" cols="50"></textarea>
  <br>
  <input type="submit" value="Envoyer le formulaire">
</form>
